
/* Big tablets to 1200px (widths smaller than the 1140px row) */
@media only screen and (max-width: 1200px) {
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }

    .row { 
        padding-left: 2%; 
        padding-right: 2%; 
    }

    .nav-bar {
        padding-top: 2%;
    }
}

/* Small tablet to big tablets: 768px to 1023px */
@media only screen and (max-width: 1023px) {
    html {
        font-size: 18px;
    }

    section {
        padding: 3rem 0;
    }

    footer {
        padding: 2rem 1rem;
    }

    .long-copy {
        width: 80%;
        margin-left: 10%;
        margin-bottom: 1.5rem;
    }

    .steps-box:first-child {
        margin-top: 0;
        padding-right: 1rem;
        text-align: right;
    }
    
    .steps-box:last-child {
        margin-top: 3rem;
        padding-left: 1rem;
    }
    .step { margin-bottom: 1.5rem;}
    
    .step:last-of-type {
        margin-bottom: 2rem;
    }

    .app-screen { width: 60%; }
    
    .city-feature ion-icon {
        font-size: 1.1rem;
        padding-right: 0.3rem;
        /* margin-top: px; */
    }

    .pricing-box {
        width: 100%;
        margin-left: 0;
    }

    .price {
        font-size: 2rem;
        font-weight: 200;
    }

    .plan-details-box li {
        font-size: 0.92rem;
        padding-bottom: 0.7rem;
    }

    .plan-details-box ion-icon {
        font-size: 0.7rem;
        padding-right: 0.3rem;

    }
    .contact-form {width: 90%;}
}




/* Small phones to small tablets: 481 to 767px */
@media only screen and (max-width: 767px) {
    html,body { font-size: 16px; }
    section { padding: 1.5rem 0; }

    .hero-text-box,
    .row { padding: 0 4%; }

    .nav-bar { padding-top: 4%;}

    .col {
        width: 100%;
        margin-left: 0;
        margin-bottom: 1%;
    }
    /* block none  */
    .mobile-nav-icon { display: block; }
    .mobile-nav-close-icon { display: none; }
    
    .main-nav {
        display: none;
        float: left;
    }
    .main-nav li {
        display: block;
    }

    .main-nav li a:link,
    .main-nav li a:visited,
    .main-nav li .cta:link,
    .main-nav li .cta:visited {
        margin: 0.4rem;
        padding: 0 0.4rem;
        color: white;
        border: none;
    }
    .sticky .main-nav li .cta:link,
    .sticky .main-nav li .cta:visited {
        margin: 0.4rem 0 ;
        padding: 0 0.4rem;
        border: none;
    }
    .sticky .main-nav li .cta:hover,
    .sticky .main-nav li .cta:active {
        color: #555;
        background-color: transparent ;
        border: none;
    }
    .sticky .mobile-nav-icon {
        margin-top: 0;
    }
    .sticky .mobile-nav-icon ion-icon {
        color: #555;
    }
   
    h1 {font-size: 1.8rem;}
    h2 {font-size: 1.5rem;}

    .long-copy {
        width: 90%;
        margin-left: 5%;
        margin-bottom: 1.5rem;
    }

    .steps-box:first-child { text-align: center; }
    .steps-box:last-child { 
        margin-top: 1rem; 
        margin-left: 0;
        padding-left: 0;
        text-align: center;}
    .step { 
        width: 100%;
        margin-bottom: 1rem;
        text-align: left;
    }
    
    .step p {margin-top: 0.2rem;}

    .app-screen { width: 40%; }
    .appstore-btn { text-align: center; }
    .appstore-btn img { height: 3rem; }
    .city-box h3 {margin: 0.3rem 0;}
    .contact-form div div:last-of-type {text-align: center;}

    .footer-nav,
    .social-links {
        padding-bottom: 0.5rem;
        text-align: center;
    }
    
    footer p { margin-top: 0;}

}

/* Small phones: 0 to 480px */
@media only screen and (max-width: 480px) {
    .contact-form {width: 100%;}
    .review-box p:before { margin-top: 0.9rem; }

    .col { margin-bottom: 2%; }
}