/* Basic Setup */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: rgb(255, 252, 240);
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/* Reusable Components - Grid System */
.row {
    max-width: 1140px;
    margin: 0 auto;
}

section,
footer {
    padding: 4rem 0;
}

.box,
.city-box {
    padding: 1%;
}

.clearfix {zoom: 1}
.clearfix:after {
    display: block;
    clear: both;
    content: '.';
    height: 0;
    visibility: hidden;
}
/* Headings */
h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h1 {
    margin: 0;
    color: white;
    font-size: 2.4rem;
    word-spacing: 4px;
}

h2 {
    font-size: 1.8rem;
    word-spacing: 2px;
    margin-bottom: 1.5rem;
    text-align: center;
}

h2::after {
    display: block;
    width: 100px;
    height: 2px;
    margin: 1.5rem auto;
    background-color: #e67e22 ;
    content: " ";
}

h3 {
    font-size: 1.1rem;
    margin: 1rem 0;
}

/* Paragraphs */
.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 1.5rem;
}

.box p {
    line-height: 145%;
    font-size: 0.9rem;
}

/* Buttons */
.btn:link,
.btn:visited, 
input[type=submit] {
    display: inline-block;
    text-decoration: none;
    border: 1.5px solid #e67e22;
    padding: 0.5rem 1.4rem;
    border-radius: 1.5rem;
    margin-right: 0.6rem;
    margin-top: 0.7rem;
    transition: background-color 0.4s, border 0.4s, color 0.4s ;
    font-weight: 300;
}

.btn-ghost:link,
.btn-ghost:visited {
    color: #e67e22;
}
.btn-full:link,
.btn-full:visited,
input[type=submit] {
    color: white;
    background-color: #e67e22;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    color: white;
    background-color: #cf6d17;
    border: 1.5px solid #cf6d17;
}

/* Icons */
ion-icon {
    display: block;
    font-size: 3.5rem;
    color: #e67e22;
    font-weight: 100;
}

/* Header Section */
header {
    background-image: 
        linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.4)), 
        url(img/hero.jpg) ;
    background-position: center; 
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    padding-top: 1rem;
}

.hero-text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1140px;
}

.logo-box {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 5rem;
    height: 5rem;
    background-image: url(resources/img/logo.png);
    background-position: center; 
    background-size: 30px 30px;
}

.main-nav li {
    display: inline-block;
    margin: 1.9rem 0 1rem 1rem;
    list-style-type: none;
}

.main-nav li a:link,
.main-nav li a:visited {
    text-decoration: none;
    text-transform: uppercase;
    margin: 0.4rem;
    padding-bottom: 0.4rem;
    color: white;
    border: 1.5px solid transparent;
    transition: color 0.4s, background-color 0.4s, border 0.4s;
}

.main-nav li a:hover,
.main-nav li a:active {
    color: #cf6d17;
    border-bottom: 1.5px solid #e67e22;
}

.main-nav li .cta:link,
.main-nav li .cta:visited {
    padding: 0.4rem 1rem;
    border-radius: 2rem;
}

.main-nav li .cta:hover,
.main-nav li .cta:active {
    color: white;
    background-color: #e67e22 ;
    border: 1.5px solid #e67e22;
    border-radius: 2rem;
}
.main-nav {
    float: right;
}

/* Mobile Navigation */
.mobile-nav-icon {
    display: none;
    float:right;
    margin-top: 1.2rem;
    cursor: pointer;
}

.mobile-nav-icon ion-icon {
    color: #fff;
}

/* Logo */
.logo {
    height: 100px;
    width: auto;
    float: left;
}
.logo-black {display: none;}


/* Sticky nav bar */

.sticky {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 0.1rem;
    background-color: rgb(255, 252, 240);
    box-shadow: 0 2px 2px #cccccc ;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 0.4rem 0;
    color: #555;
    vertical-align: middle;
}

.sticky .main-nav li .cta:link,
.sticky .main-nav li .cta:visited {
    padding: 0.4rem 1rem;
    border-radius: 2rem;
}

.sticky .main-nav li {
    padding: 0;
    margin-top: 1rem;
}

.sticky .main-nav li .cta:hover,
.sticky .main-nav li .cta:active {
    color: white;
}

.sticky .logo {display: none;}
.sticky .logo-black {
    display: block;
    height: 3rem;
    width: auto;
    margin: 0.2rem 0;
    float: left;
}

/* Meals */
.section-meals {
    padding-top: 0;
    padding-bottom: 0;
}

.meals-showcase {
    list-style: none;
    width: 100%;
}

.meals-showcase li {
    display: block;
    float: left;
    width: 25%;

}

.meal-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: black;
}

.meal-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.4s, opacity 0.4s;
}

.meal-photo img:hover {
    opacity: 1;
    width: 100%;
    height: auto;
    transform: scale(1.03);
}

/* How it works section */

.section-works {
    background-color:rgb(238, 237, 231);
}
.steps-box:first-child {
    margin-top: 1.5rem;
    padding-right: 1.5rem;
    text-align: right;
}

.steps-box:last-child {
    margin-top: 3.6rem;
    padding-left: 2rem;
}
.app-screen {
    /* display: inline-block; */
    width: 40%;
}

.step {
    float: left;
    margin-bottom: 2.5rem;
}

.step:last-of-type {
    margin-bottom: 3.9rem;
}

.step div {
    float: left;
    border: #e67e22 solid 2px ;
    color: #e67e22;
    font-size: 1.5rem;
    width: 2.8rem;
    height: 2.8rem;
    padding: 7px;
    text-align: center;
    border-radius: 50%;
    margin-right: 1rem;
}


.appstore-btn {
    display: inline-block;    
    margin-right: 0.8rem;
}

.appstore-btn img {
    height: 2.5rem;
}

/* Cities Section */

.city-box img {
    width: 100%;
}

.city-feature ion-icon {
    float: left;
    font-size: 1.3rem;
    padding-right: 0.7rem;
    margin-top: -2px;
}

.city-feature {
    width: 100%;
    float: left;
    padding-bottom: 0.4rem;
}

.city-feature a {
    color: #e67e22;
    text-underline-offset: 3px;
    transition: text-decoration 0.4s, color 0.4s;
}

.city-feature a:hover {
    color: #555;
    text-decoration: transparent;
}

.twitter-icon {
    transition: color 0.2s;
}
.twitter-icon:hover {
    color: #1DA1F2;
}

/* Reviews Section */

.section-reviews {
    color: white;
    background-image: 
        linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.6)), 
        url(img/back-customers.jpg) ;
    background-position: center; 
    background-size: cover;
    /* height: 100vh; */
    background-attachment: fixed;
}

.review-box blockquote {
    font-style: italic;
    padding: 2%;
}

.review-box p {
    padding-bottom: 1rem;
    line-height: 1.4rem;
}
.review-box p:before {
    content: "\201C";
    display: block;
    font-size: 5rem;
    height: 30px;
    margin-bottom: -1rem;
    margin-left: -0.8rem;
}

.reviewer-box img {
    display: inline-block;
    height: 3rem;
    width: 3rem;
    margin-right: 0.5rem;
    border-radius: 50%;
    vertical-align: middle;
}

/* Pricing section */

.section-pricing {
    background-color: rgb(238, 237, 231);
}

.pricing-box {
    background-color:  #f7f7f7;
    border-radius: 1%;
    width: 90%;
    margin-left: 5%;
    box-shadow: 0 2px 2px #d3d3d3;
}

.plan-box {
    background-color:  #f5f5f5;
}
.plan-box,
.plan-details-box,
.pricing-cta-box {
    width: 100%;
    border-bottom: 1px solid rgb(214, 214, 214);
    padding: 0.9rem;
}

.pricing-cta-box {
    border: none;
}

.plan-box h3 {
    margin-top: 0;
    margin-bottom: 0.8rem;
}

.plan-box p {
    font-size: 0.8rem;
}
.plan-box p:first-of-type {
    color: #e67e22;
    padding-bottom: 0.5rem;
}

.price {
    font-size: 2.3rem;
    font-weight: 300;
}

.plan-details-box ul {
    list-style: none;
}

.plan-details-box li {
    font-size: 1rem;
    padding-bottom: 0.7rem;
}

.plan-details-box ion-icon {
    display: inline-block;
    color: #e67e22;
    font-size: 0.8rem;
    padding-right: 0.5rem;
    vertical-align: middle;
}

.pricing-cta-box {
    border-bottom: 1px solid transparent; 
    text-align: center;
}

.pricing-cta-box .btn {
    margin-top: 0;
}

/* Forms */
.contact-form {
    width: 60%;
    margin: 0 auto;
}

label {
    vertical-align: middle;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}
textarea {
    height: 100px;
}
input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

*:focus {outline: none;}


/* Footer */

footer {
    background-color: #333;
    color: rgb(170, 170, 170);
    font-size: 0.8rem;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 1rem;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav {
    text-align: left;
}

.social-links {
    text-align: right;
}

.footer-nav a:link,
.footer-nav a:visited {
    color: rgb(170, 170, 170);
    text-decoration: none;
    transition: color 0.2s;
}

.footer-nav a:hover,
.footer-nav a:active {
    color: #eee;
    text-decoration: none;
}

.social-links ion-icon {
    font-size: 1.2rem;
    color: rgb(170, 170, 170);
    transition: color 0.2s;
}

.facebook:hover {
    color: #3b5999;
}
.twitter:hover {
    color: #55acee;
}
.instagram:hover {
    color: #e4405f;
}

footer p {
    text-align: center;
    margin: 1.5rem 0;
}

footer p:last-of-type {
    margin: 0;
}

